#square {
    width: 90%;
    height: 90px;
    padding-top: 20px;
    background-color: yellow;
    font-weight: 800;
    border: 2px solid black;
    text-align: center;
}
#image-1{
    width: 30%;
    
}